nav a {
    color: black;
    margin-left: 2%;
    margin-right: 2%;
}

body {
    height: 100vh;
}

nav a:hover {
    background-color: rgb(224, 223, 223);
    color: black;
}

.navbar-toggler {
    background-color: rgb(201, 201, 201);
}

#contacts i {
    font-size: 2.2em;
    padding: 1%;
}

#contacts i:hover {
    font-size: 2.5em;
}

.img {
    border-radius: 50%;
    width: 15em;
    overflow: hidden;
}

img {
    width: 100%;
}

.homeNav {
    width: 100%;
}

#Projects {
    margin-bottom: 2%;
}

.project {
    width: 100%;
    border: 0.2em solid grey;
}

.previewLabel {
    border-top: 0.2em solid grey;
    padding: 2%;
}

.project a {
    color: black
}

video {
    width: 100%;
}

footer {
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    margin-top: 4%;
    padding-bottom: 1%;
}