nav a {
    color: black;
    margin-left: 2%;
    margin-right: 2%;
}

body {
    height: 100vh;
}

nav a:hover {
    background-color: rgb(224, 223, 223);
    color: black;
}

.navbar-toggler {
    background-color: rgb(201, 201, 201);
}

#contacts i {
    font-size: 2.2em;
    padding: 1%;
}

#contacts i:hover {
    font-size: 2.5em;
}

.img {
    border-radius: 50%;
    width: 15em;
    overflow: hidden;
}

img {
    width: 100%;
}

.homeNav {
    width: 100%;
}

.tags {
    margin-top: 2%;
    margin-bottom:2%;
}

.tags span {
    background-color: rgb(40, 109, 238);
    border: 0.1em solid rgb(40, 109, 238);
    border-radius: 2em;
    padding: 0.7%;
    color: white;
    margin-right: 1%;
    margin-top: 1%;
    display: inline-block;
}

.new {
    margin-top: 2%;
}

.new h2 {
    border-left: 0.2em solid rgb(40, 109, 238);
    padding-left: 1%;
    margin-left: -0.2em;
    margin-bottom: 2%;
}

#Projects {
    margin-bottom: 2%;
}

#Projects .new h2 {
    border-color: #0a8736;
}

#Projects .tags span {
    border-color: #0a8736;
    background-color: #0a8736;
}

.project {
    width: 100%;
    border: 0.2em solid grey;
}

.previewLabel {
    border-top: 0.2em solid grey;
    padding: 2%;
}

video {
    width: 100%;
}

footer {
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    margin-top: 4%;
    padding-bottom: 1%;
}

#arrow {
    font-size: 24pt;
    right: 0.8em;
    top:40%;
    position:absolute;
    display: block;
    color: #457d1c;
}

#arrow:hover {
    font-size: 28pt;
    cursor: pointer;
}

#slideshow img:nth-child(2) {
    display: none;
}